@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

body, h1, h2, h3, b, td{
    font-family: "Nanum Gothic", serif;
}
body:lang(en) {
    /*font-family: 'Source Sans Pro', serif;*/
    font-family: "Nanum Gothic", serif;
}

.fixed1 {
    left: 33%;
    position: fixed;
}
.fixed2 {
    position: fixed;
}
.scrollit {
    float: left;
}

.table-fixed thead {
    width: 97%;
}
.table-fixed tbody {
    height: 100%;
    overflow-y: auto;
    width: 100%;
}
.table-fixed thead, .table-fixed tbody, .table-fixed tr, .table-fixed td, .table-fixed th {
    display: block;
}
.table-fixed tbody td, .table-fixed thead > tr> th {
    float: left;
    border-bottom-width: 0;
}