@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

body, h1, h2, h3, b, td{
    font-family: "Nanum Gothic", serif;
}
body:lang(en) {
    /*font-family: 'Source Sans Pro', serif;*/
    font-family: "Nanum Gothic", serif;
}
.video-loading {
    top: 100px;
}
.shot-loading {
    top: 60px;
}

/*.video-list {*/
    /*height: 600px;*/
    /*overflow:scroll;*/
    /*overflow-y:auto;*/
/*}*/
/*.triple-table-fixed {*/
    /*left: 33%;*/
    /*top: 200px;*/
    /*position: fixed;*/
/*}*/
